#toggleSidebar {
  position: relative;
  left: 150px;
  z-index: 1050;
  border-radius: 25%;
  border-style: none;
  width: 50px;
  height: 50px;
}

.hidden-sidebar {
  transform: translateX(-280px);
  transition: transform 0.3s ease-in-out;
}

.d-flex.flex-column {
  transition: transform 0.3s ease-in-out;
}
